package views

templ MakeStrategyWithReorgCount(items []StrategyWithReorgCount) {
    <div class="strategy-section">
        <h2 class="section-title">Strategy Reorg Analysis</h2>
        <div class="table-container">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th width="20%">Strategy Id</th>
                <th width="15%">Reorg Count</th>
                <th width="65%">Strategy Content</th>
            </tr>
            </thead>
            <tbody>
                            for _, item := range items {
                                <tr>
                                    <td>{ item.StrategyId }</td>
                                    <td>{ item.ReorgCount }</td>
                                    <td class="strategy-content">{ item.StrategyContent }</td>
                                </tr>
                            }
                        </tbody>
        </table>
        </div>
    </div>
}


templ MakeStrategyWithHonestLose(items []StrategyWithHonestLose) {
    <div class="strategy-section">
            <h2 class="section-title">Honest Lost Rate Analysis</h2>
            <div class="table-container">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th width="20%">Strategy Id</th>
                    <th width="15%">Honest Lose Rate Avg</th>
                    <th width="65%">Strategy Content</th>
                </tr>
                </thead>
                <tbody>
                    for _, item := range items {
                        <tr>
                            <td>{ item.StrategyId }</td>
                            <td>{ item.HonestLoseRateAvg }</td>
                            <td class="strategy-content">{ item.StrategyContent }</td>
                        </tr>
                    }
                </tbody>
            </table>
            </div>
        </div>
}



templ MakeStrategyWithGreatHonestLose(items []StrategyWithGreatHonestLose) {
    <div class="strategy-section">
        <h2 class="section-title">Comprehensive Lost Ratio Analysis</h2>
        <div class="table-container">
        <table class="table table-bordered table-hover">
            <thead>
            <tr>
                <th width="20%">Strategy Id</th>
                <th width="10%">Ratio</th>
                <th width="10%">Honest Lose Rate Avg</th>
                <th width="10%">Malicious Lose Rate Avg</th>
                <th width="50%">Strategy Content</th>
            </tr>
            </thead>
            <tbody>
            for _, item := range items {
                <tr>
                    <td>{ item.StrategyId }</td>
                    <td>{ item.Ratio }</td>
                    <td>{ item.HonestLoseRateAvg }</td>
                    <td>{ item.MaliciousLoseRateAvg }</td>
                    <td class="strategy-content">{ item.StrategyContent }</td>
                </tr>
            }
            </tbody>
        </table>
        </div>
    </div>
}